.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.login .item-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login .separator {
  height: 80%;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.479);
}

.login .item-login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.item-login form input {
  background-color: transparent;
  background-color: rgba(35, 53, 87, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

form label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

form label img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

form button {
  width: 100%;
  padding: 2px;
  border: none;
  background-color: rgba(67, 89, 214, 0.639);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
