* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/bg.jpg');
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 90vw;
  height: 90vh;
  background-color: rgba(38, 38, 118, 0.38);
  backdrop-filter: blur(8¿20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
